src/conf/xml-resources/web-service-references/ProductoWS/wsdl/localhost_8080/WebServAC/ProductoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService/">

<xs:element name="CrearProducto" type="tns:CrearProducto"/>

<xs:element name="ListarProductos" type="tns:ListarProductos"/>

<xs:element name="ListarProductosResponse" type="tns:ListarProductosResponse"/>

<xs:element name="Saludo" type="tns:Saludo"/>

<xs:element name="SaludoResponse" type="tns:SaludoResponse"/>

<xs:element name="product" type="tns:product"/>

<xs:complexType name="Saludo">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SaludoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListarProductos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ListarProductosResponse">
<xs:sequence>
<xs:element name="return" type="tns:product" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="product">
<xs:sequence>
<xs:element name="cantidad" type="xs:int" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearProducto">
<xs:sequence>
<xs:element name="producto" type="tns:product" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>